@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

:root {
  font-family: "Bricolage Grotesque", "Nunito", Avenir, Helvetica, Arial,
    sans-serif;
  font-size: 16px;

  --primarycolor: #612a74;
  --secondarycolor: #e8a089;
  --lightcolor: #ffffff;
  --darkcolor: #000000;
  --bgcolor: #f3eee9;
}

/* ! ****************************** GLOBALS STYLES ****************************** ! */

h1 {
  font-family: "Bricolage Grotesque", sans-serif;
}

h2,
h3,
h4,
h5,
h6,
p {
  font-family: "Nunito", sans-serif;
}

button {
  border: none;
  padding: 0.5rem;
  cursor: pointer;
  background: none;
  border-radius: 17% 28% 6% 17% / 39% 59% 17% 40%;
}

#appIcon {
  color: var(--primarycolor);
  display: inline;
}

.chatIcones {
  min-width: 1rem;
  min-height: 1rem;
}

.search-icon {
  color: rgb(130, 130, 130);
}

em {
  color: var(--primarycolor);
  font-style: normal;
}

input,
textarea {
  border: rgb(180, 180, 180) solid 1px;
  border-radius: 1rem;
  padding: 0.2rem 0.7rem;
  overflow: auto;
  resize: none;
  background: none;
}

.notWork {
  cursor: not-allowed;
}

.hidden {
  display: none;
}

/* *************************** HEADER PART *************************** */
header {
  background-color: var(--bgcolor);
}

/* *************************** MAIN PART *************************** */
main {
  background-color: var(--lightcolor);
}

#chatWait {
  margin-left: 1rem;
}

/* *************************** ASIDE PART *************************** */
aside {
  background-color: var(--bgcolor);
}
